

/* HEADERS */

h1 {
  display:block;
  margin:0;
  font-size:var(--h1-font-size);
}

/* NAV STYLES */

desktop-sidebar {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  width:10ch;
  padding-top:0.6em;
}

desktop-sidebar ul {
  display:flex;
  flex-direction:column;
  list-style-type:none;
  padding-left:0.75ch;
  gap:1em;
}

desktop-sidebar ul li, mobile-nav ul li {
  margin-bottom:0;
  line-height:1em;
}

desktop-sidebar ul a, mobile-nav ul a {
  text-decoration:none;
  font-weight:var(--medium-weight);
  font-family: sans-serif ;
  font-size:1.5em;
  letter-spacing:-0.05em;
}
