
/* BODY */

body {
  background-gradient: radial-gradient(#c1e0ca, #c2dde8, #e1e7d7);
  font-family: 'Courier';
}

a {
  color:var(--link-color);
  text-decoration:underline;
  text-decoration-thickness:1.25px;
  font-weight:var(--normal-weight);
  text-underline-offset:2px;
}

main {
  clear:both;
  width:100%;
  margin-bottom:6rem;
}

/* RESPONSIVE LAYOUT ELEMENTS: MOBILE HEADER, SIDEBAR, AND MENU */

/*.container-flex {
  padding-top:1.6em;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  gap:1.6em 4vw;
  width:100%;
}*/

 .container-flex {
 	padding-top:1.6em;
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  gap:1.6em 4vw;
  width:100%;
  } 

/* HEADERS */

h1 {
  display:block;
  margin:0;
  font-family: 'Courier';
  font-size:2em;
  letter-spacing:-0.1em;
  line-height:-0.05em;
}

h2 {
	font-family: 'Courier';
  font-size:1.5em;
  letter-spacing:-0.05em;
  margin-top:1.5em;
}

h3 {
	font-family: 'Courier';
  font-size:1.25em;
  letter-spacing:-0.05em;
  margin-top:1.5em;
}

/* NAV STYLES */
/* RESPONSIVE LAYOUT ELEMENTS: MOBILE HEADER, SIDEBAR, AND MENU */

.container-flex {
  padding-top:1.6em;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  gap:1.6em 4vw;
  width:100%;
}

mobile-header {
  display:none;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  height:40px;
  width:100%;
  gap:1.5ch;
}

#menu {
  display:none;
}

.mobile-nav-icon {
  width:40px;
  height:40px;
  flex-shrink:0;
  display:inline-block;
}

.mobile-nav-icon svg {
  width:100%;
  height:100%;
}

.mobile-nav-icon:hover {
  color:unset;
  opacity:0.5;
}

html:has(#menu:target) .mobile-nav-icon[href="#menu"] {
  opacity:0.5;
}

html:has(#menu:not(:target)) .mobile-nav-icon[href="##"] {
  opacity:0.5;
}

.close-button {
  position:absolute;
  top:1.6em;
  right:min(3ch,10vw);
}

desktop-sidebar {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  width:11ch;
  padding-top:0.6em;
}

desktop-sidebar ul {
  display:flex;
  flex-direction:column;
  list-style-type:none;
  padding-left:0.75ch;
  gap:1em;
}

desktop-sidebar ul li {
  margin-bottom:0;
  line-height:1em;
}

desktop-sidebar ul a {
  text-decoration:none;
  font-weight:var(--medium-weight);
  font-family: 'Courier';
  font-size:1em;
  letter-spacing:-0.05em;
  color:#009973;
}

desktop-sidebar ul a:hover {
	color:#007399;
	opacity:0.5;
}

desktop-sidebar {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  width:10ch;
  padding-top:0.6em;
}

desktop-sidebar ul {
  display:flex;
  flex-direction:column;
  list-style-type:none;
  padding-left:0.5ch;
  gap:1em;
}

desktop-sidebar ul li, mobile-nav ul li {
  margin-bottom:0;
  line-height:1em;
}

desktop-sidebar ul a, mobile-nav ul a {
  text-decoration:none;
  font-weight:var(--medium-weight);
  font-size:1.1em;
  letter-spacing:-0.05em;
}

@media (hover:hover) {
  desktop-sidebar ul a:hover, mobile-nav ul a:hover {
    text-decoration:none;
    filter:var(--svg-hover-filter);
    color:unset;
  }
}

mobile-nav ul {
  font-size:min(1.5em, 6vh);
  text-align:center;
}

desktop-sidebar li .current-link, mobile-nav li .current-link {
  opacity:0.5;
}

desktop-sidebar li .current-link::before, mobile-nav li .current-link::before {
  content:"";
  position:absolute;
  translate:-0.9em 0.24em;
  width:0.65em;
  height:0.65em;
  background-image:url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI0MCIgZmlsbD0iY3VycmVudENvbG9yIiAvPgo8L3N2Zz4=");
  background-size:contain;
  background-repeat:no-repeat;
}

mobile-header .header-image {
  width:320px;
  max-width:100%;
  height:40px;
}

desktop-sidebar .header-image {
  width:100%;
  height:auto;
}

@media (hover:hover) {
  .header-image:hover {
    filter:var(--svg-hover-filter);
  }
}

/* ABOUT CONTAINER */

.about-header {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  gap:2.5rem;
  margin:0 0 3em;
}

.about-header img {
  border-radius:10px;
  flex:1 1 0px;
  mix-blend-mode:multiply;
}

.about-header-text {
  flex:1 1 60px;
}

.about-header-text h2 {
  font-weight:var(--bold-weight);
  margin:0;
  font-size:var(--h1-font-size);
  letter-spacing:0.02em;
}

.about-header-text h3 {
  margin:0;
  line-height:1em;
  padding:0;
  height:2.4em;
  font-size:var(--h2-font-size);
  font-weight:var(--normal-weight);
}

@media only screen and (min-width:785px) {
  .about-header img {
    min-width:0;
  }
}

@media only screen and (max-width:784px) {
  .about-header img {
    min-width:100%;
    height:auto;
  }
}

.about-text {
  margin:1.8em 0 2.5em;
}

.about-text details {
  background-color:var(--unsubtle-bg-color);
  border-radius:10px;
  padding:0.2em 0.6em 0.3em;
}

.about-text details summary {
  font-weight:var(--bold-weight);
  text-decoration:none;
}

.about-text .details-content {
  overflow:hidden;
}

.about-text details button {
  margin:0.8em auto 0.4em;
}

@media (scripting:enabled) {
  .about-text details summary {
    list-style:none;
  }

  .about-text details summary::before {
    display:inline-block;
    content:"";
    width:0.7em;
    height:0.7em;
    margin-right:0.4em;
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,0 10,5 0,10' /%3E%3C/svg%3E");
    background-size:contain;
    background-repeat:no-repeat;
    transition:transform 0.5s ease;
    transform-origin:center;
  }

  .about-text details[class~="triangle-open"] summary::before {
    transform:rotate(90deg);
  }
}

@media (scripting:none) {
  .about-text details button {
    display:none;
  }
}

.about-text details p:last-child {
  margin-bottom:0.1em;
}

/* IMAGES */

.graphic {
  display:block;
  margin:2rem 0;
  clear:both;
  max-width:300px;
}

.about-title-graphic {
  display:block;
  margin:1em 0 0.7em;
  max-width:100%;
  clear:both;
  width:7ch;
  height:1.4rem;
}

@media (hover:hover) {
  .about-title-graphic:hover {
    transform: scaleX(-1);
  }
}

.pixel-art {
  image-rendering:-webkit-crisp-edges;
  image-rendering:-moz-crisp-edges;
  image-rendering:crisp-edges;
  image-rendering:pixelated;
  -ms-interpolation-mode:nearest-neighbor;
}

.centered {
  display:block;
  margin:2rem auto;
}

img {
  max-width:100%;
  height:auto;
}

img-caption {
  text-align:center;
  font-style:italic;
  display:block;
  max-width:80%;
  margin:0 auto;
}

/* CONTAINER */

.column-container {
	width:720px;
  margin:1em;
  
}

 .container {
  width:100%;
  min-height:100%;
  box-sizing:border-box;
  padding:0 5vw;
  margin:0;
  position:absolute;
  top:0;
}

/* INDEX COLLECTIONS */

.art-projects {
  margin-top:35px;
}

.art-project img {
  border:solid 1.5px;
  border-radius:5px;
  object-fit:cover;
  aspect-ratio:4/3 !important;
  width:100%;
  box-sizing:border-box;
  height:auto;
}

@media only screen and (min-width:785px) {
  .art-projects {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    justify-content:flex-start;
    justify-items:stretch;
    gap:3vw 4vw;
  }

  .art-project {
    max-width:720px;
  }
}

@media only screen and (max-width:784px) {
  .art-project {
    width:100%;
    margin-bottom:40px;
  }
}

.art-project a {
  text-decoration:none;
}

@media (hover:hover) {
  .art-project a:hover {
    color:#000000;
  }
  .art-project a:hover img {
    filter:var(--hover-filter);
  }
  .art-project a:hover .caption {
    filter:var(--svg-hover-filter);
  }
}

.art-project h3 {
  text-align:center;
  margin:0;
  text-transform:none;
  font-size:var(--body-font-size);
}

.art-project p {
  text-align:center;
  margin:.2em 0 .5em 0;
  font-size:var(--small-font-size);
}

.art-project p.tags {
  display:flex;
  justify-content:center;
  gap:0.5em;
  font-size:var(--small-font-size);
  font-weight:var(--medium-weight);
}

.art-project .title {
  font-style:italic;
}

.art-project .project-tag {
  background:#000000;
  border-radius:5px;
  color:var(--white);
  padding:3px 6px;
}

.art-project p.tags {
  display:flex;
  justify-content:center;
  gap:0.5em;
  font-size:var(--small-font-size);
  font-weight:var(--medium-weight);
}

/* TAGS */


/* FOOTER */

footer {
	display: flex;
	flex-direction: column;
  margin-top:2rem;
  padding:10px 0px;
  max-width:720px;
}

footer p {
  font-style:italic;
  font-family: 'Courier';
  font-weight:var(--light-weight);
  font-size:var(--small-font-size);
  border-bottom:2px dotted;
  border-color: yellowgreen;
  padding-bottom:0.4em;
}

footer ul {
  list-style-type:none;
  padding:0;
  margin:1.2em 0;
  display:flex;
  flex-wrap:wrap;
  gap:0.6em;
  align-items:baseline;
}

footer ul li {
  float:left;
  margin:0;
  flex-basis:13ch;
}

footer ul li a{
	font-size: 1.25em;
  text-decoration:none;
  display:flex;
  flex-wrap:no-wrap;
  align-items:center;
}

footer li span {
  font-weight:var(--black-weight);
  font-size:var(--small-font-size);
  margin-left:0.7ch;
}

footer ul li img {
  height:1.1rem;
  width:1.1rem;
}

@media (hover:hover) {
  footer ul li a:hover {
    color:#000000;
    filter:var(--svg-hover-filter);
    text-decoration:none;
  }
}
