

/* HEADERS */



/* NAV STYLES */

desktop-sidebar {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  width:10ch;
  padding-top:0.6em;
}

desktop-sidebar ul {
  display:flex;
  flex-direction:column;
  list-style-type:none;
  padding-left:0.75ch;
  gap:1em;
}

.nav-link a {
	font-family: courier, slab;
	font-size: 1ems;	
}

.nav-link a:hover {
  background-color: yellow;
}



